body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2; /* Background color similar to Apple Music */
}

.circle-container {
    width: 200px; /* Increase the size for better alignment */
    height: 200px; /* Increase the size for better alignment */
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow similar to Apple Music */
    margin-bottom: 30px; /* Add margin at the bottom for spacing */
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.player-controls {
    display: flex;
    gap: 30px; /* Adjust the gap between buttons */
    margin-top: 20px; /* Add margin at the top for spacing */
}

.apple-music-button, .rewind-button, .fastforward-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #FF474D;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.play-icon, .rewind-icon, .fastforward-icon {
    width: 40px;
    height: 40px;
    fill: #fff;
}

h1, a {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
